*{ 
    margin: 0%;
    padding: 0%;

}

body{
    background-color: burlywood;
}
.container{
    background-color: antiquewhite;
    margin: auto;
    width: 80%;
    min-height: 100vh;

}
h1{
    text-align: center;
    margin: 2rem;
    padding-top: 1rem;
}
input{
    padding: 25px;
    margin: 10px;
    font: 1000 1.2rem "Lucida-Sans";
    width: 80%;
    border: 2px solid black;
    outline: none;
}
button{
    padding: 25px;
    margin: 10px;
    font: 100 1.2rem sans-serif;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
    transition: background-color .5s;
    border-radius: 5%;
}
button:hover{
    background-color: rgb(129, 179, 181);
 
}

.tags{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    background-color: cadetblue;
    width: 30%;
    margin:10px;
    padding: 1.5rem;
    font: 200 1.2rem sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
}
